extends iframe-layout

block mainContent
    div(id='container')
        br
        br
        div(id='instructions') Please press Go Next button to proceed
        br
        br
        #button(style='padding-top: 20px')
          input(type='button', id='goNext', value="Go Next", class='btn btn-lg btn-primary')
