extends iframe-layout

block mainContent
    div(id='container')
        h2=instructions
        h3=please
        div(id='instructions') 
            !=thisExperiment
            br
            br
            !=thisExperiment2
            br
            br
            !=thisExperiment3
            br
            br
            !=theGroups
            br
            br
            h4 Payment
            !=thePayment
            div(style="text-align:center;padding: 20px;")!="<em>"+theRate+"</em>"
            br
            =ifYouUnderstood
