extends iframe-layout

block mainContent
    div(id='container')
        h1=instructions
        div(id='instructions') 
            =text
            br
            br
            !=text2
            br
            br
            =text3
            br
            br
            =ifYouUnderstood