extends iframe-layout

block extraHead
    link(rel='stylesheet', href='/amatsuo_ve/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/amatsuo_ve/css/votingGame.css')
    //link(rel='stylesheet', type='text/css', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css')


block mainContent
   //.alert.alert-dismissable.alert-danger
      button.close( type="button", data-dismiss="alert" ) ×
      | Danger Will Robinson!


    div(id='container')
        h1=Module
        div(id='gameContents')
            h2 Information for this round
            //- h3 Income
            //- table.info_table
            //-     tr
            //-         td High income
            //-         td.nums
            //-           span#high_amount
            //-           span  tokens
            //-     tr
            //-         td Low income
            //-         td.nums
            //-           span#low_amount
            //-           span  tokens
            //-     tr
            //-         td Proposed tax amount 
            //-         td.nums
            //-           span#tax_amount
            //-           span  tokens
            //-         
            // h3 Distribution of Income
            table.info_table
                tr
                    th &nbsp;
                    th Pre-tax income
                    th
                      span#myGroup
                      span  (You)
                    th#otherGroup
                    th#total Total
                tr
                    td Low eaners 
                    td
                      span#low_amount 
                      span  tokens
                    td.nums#low_mygroup
                    td.nums#low_othergroup
                    td.nums#low_total
                tr
                    td High earners 
                    td
                      span#high_amount 
                      span  tokens
                    td.nums#high_mygroup
                    td.nums#high_othergroup
                    td.nums#high_total
            br
            ul
              li In this round, you are a 
                b
                  span#status
                  span  earner.
              li Proposed tax amount is 
                b
                  span#tax_amount
                  span  tokens.
                
    
            br
            br
            #decision_box
                h3 Your Decision
                span.button_div
                    input(type='button', id='abstain', value="Do Not Vote", class='btn btn-lg btn-primary')
                br
                br
                span.button_div
                    input(type='button', id='yes', value="Vote Yes for Tax", class='btn btn-lg btn-primary')
                span.button_div
                    input(type='button', id='no', value="Vote No for Tax", class='btn btn-lg btn-primary')
                br
                #cost_note Cost of vote is 
                  span#cost_vote 
                  span  tokens. 

                .modal(id='ERROR')
                    .modal-dialog.modal-lg
                        .modal-content(style=".modal-content")
                            .modal-header

                                button(type="button", class="close", data-dismiss="modal",aria-label="Close",)
                                    span(aria-hidden="true") &times;

                            .modal-body(style=".modal-body")
                                    =error

                            .modal-footer
                                button(type="button", class="btn btn-primary", data-dismiss="modal")=errorClose
